@crepo:registry=https://artifactory.redbullmediahouse.com/artifactory/api/npm/crepo-npm-local/
//artifactory.redbullmediahouse.com/artifactory/api/npm/crepo-npm-local/:_password=${CREPO_PASSWORD}
//artifactory.redbullmediahouse.com/artifactory/api/npm/crepo-npm-local/:username=public
//artifactory.redbullmediahouse.com/artifactory/api/npm/crepo-npm-local/:always-auth=true
