@crepo:registry=https://artifactory.redbullmediahouse.com/artifactory/api/npm/crepo-npm-local/
//artifactory.redbullmediahouse.com/artifactory/api/npm/crepo-npm-local/:_password=QUtDcDJWNmQyYm43VFpuanMyMndFc0dlMXcxNFBFbmM5cDlCdVdCVEM4Y0wxWGNROXNDVWpGS2pRM29VYVY4UG5GV3pMc1h3aw==
//artifactory.redbullmediahouse.com/artifactory/api/npm/crepo-npm-local/:username=public
//artifactory.redbullmediahouse.com/artifactory/api/npm/crepo-npm-local/:always-auth=true
@cosmos:registry=https://artifactory.redbullmediahouse.com/artifactory/api/npm/rbds-npm-local/
//artifactory.redbullmediahouse.com/artifactory/api/npm/rbds-npm-local/:_auth=cy1yYm1oLXJlYWRvbmx5LXJiZHM6QVA4bTJXZVNhN2Q5bTZYVUpIcVZmdGtTOGpR
//artifactory.redbullmediahouse.com/artifactory/api/npm/rbds-npm-local/:always-auth=true
