// This is an example for the Red Bull Cosmos Web Components

@import (less) 'config.less';

.rb-example__panel {
  padding: 50px;
  font-size: 16px;
  font-family: 'Bull Text', Helvetica, sans-serif;
  color: @gray-dark;
  .cosmos-example__panel {
    width: 300px;
    --cosmos-default-card-headline-color: @gray-dark;
    --cosmos-default-card-text-font-family: Helvetica, sans-serif;
  }
}
