@import (less) 'config.less';

.rb-example__panel {
  padding: 50px;
  font-size: 16px;
  font-family: 'Bull Text', Helvetica, sans-serif;
  color: @gray-dark;
  background: #EFEFEF;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80vh;
  gap: 20px;
}

.rb-example__card {
  height: 185px;
  width: 350px;
  line-height: 1.2em;
  border-radius: 8px;
  background: #fff;
  padding: 24px;
  box-shadow: 0px 8px 12px 0px #000F1E0a, 0px 2px 4px 0px #000F1E05;
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
  }
  p {
   line-height: 1.4em;
  }
  .example-img {
    width: 150px;
  }
  pre#submissionData {
    display: none;
    max-height: 400px;
    font-size: 0.9rem;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    border: 4px solid #efefef;
    padding: 5px 10px;
    margin: 0px;
    overflow: scroll;
    transition: background-color 400ms;
  }
}

  .rb-example__infobox {
    background: #fff;
    line-height: 1.2em;
    height: 500px;
    box-shadow: 0px 8px 12px 0px #000F1E0a, 0px 2px 4px 0px #000F1E05;
    border-radius: 8px;
    padding: 24px;

    h2 {
      font-size: 1.1em;
      margin-bottom: 10px;
      font-weight: 700;
    }
    ul {
      list-style: inside !important;
      line-height: 1.3em !important;
      .li-header {
        font-weight: 500;
      }
      .inner-ul {
        margin: 2px 0 5px 20px;
        list-style: revert !important;
      }
      a {
        color: mediumblue
      }
      a:hover {
        text-decoration: underline;
      }
    } 
  }
  @media screen and (max-width: 997px) {
    .rb-example__panel {
      gap: 40px;
      height: 100%;
      flex-direction: column;
      align-content: center;
      
      .rb-example__infobox {
        width: 350px;
        height: 100%;
      }
    }
  }
